language: bash

sudo: true

services:
- docker

script:
- echo "Running my customized travis yaml file. Hello from Ashish..."
- echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
- echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
     echo "The branch is master and now running the travis build";
     cd ./pipelines/docker/kabanero-utils/;
     pwd; 
     ls -la;
     echo "Running Docker build";     
     docker build -t aadeshpa/kabanero-utils:latest .
  else
    echo "The branch is not master so not running anything...";
  fi
