language: generic

env:
- IMAGE_NAME=aadeshpa/kabanero-utils IMAGE_TAG_NAME=latest USER_NAME=aadeshpa publishImageStatus=false

go:
  - 1.12.x

os: linux
dist: bionic


before_install:
  - sudo apt-get -y install jq
  
script:
  - echo "in script section."
  - echo "trying to run script ./ci/publish_utils_image.sh";
    pwd;
    ls -la;
    echo "printing publishImageStatus=$publishImageStatus before calling publish_utils_image.sh";
    ./ci/publish_utils_image.sh;
    echo "printing publishImageStatus=$publishImageStatus after calling publish_utils_image.sh";
  - if [ ! -z "$TRAVIS_TAG" ] && [ ! -z "$DOCKER_USERNAME" ] && [ ! -z "$DOCKER_PASSWORD" ]; then
       echo "executing package.sh";
       ./ci/package.sh;
       echo "ashish";
    else
       echo "ashish";
       echo "not able to execute package.sh";
    fi

# note before_deploy will run before each deploy provider
before_deploy:
  - #. ./ci/package.sh

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN
  file: ci/assets/*
  file_glob: true
  on:
    tags: true
    repo: $GITHUB_REPO/kabanero-pipelines
