language: generic

env:
- IMAGE_NAME=aadeshpa/kabanero-utils IMAGE_TAG_NAME=latest USER_NAME=aadeshpa publishImageStatus=false

go:
  - 1.12.x

os: linux
dist: bionic


before_install:
  - sudo apt-get -y install jq
  
script:
  - echo "in script section."
  - echo "trying to run script ./ci/publish_utils_image.sh";
    pwd;
    ls -la;
    echo "printing publishImageStatus=$publishImageStatus before calling publish_utils_image.sh";
    image_digest_value=$(./ci/publish_utils_image.sh);
  - #if [ $? == 0 ]; then 
    #  echo "image_digest_value after the script is called =$image_digest_value";
    #  echo "printing publishImageStatus=$publishImageStatus after calling publish_utils_image.sh";
    #else
    #  echo "something wrong after the script call";
    #fi

# note before_deploy will run before each deploy provider
before_deploy:
  - . ./ci/package.sh

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN
  file: ci/assets/*
  file_glob: true
  on:
    tags: true
    repo: $GITHUB_REPO/kabanero-pipelines
