language: bash

sudo: true

env:
- IMAGE_NAME=aadeshpa/kabanero-utils
- IMAGE_TAG_NAME=latest

services:
- docker

script:
- echo "Running my customized travis yaml file. Hello from Ashish..."
- echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
- echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
     echo "The branch is master and now running the travis build";
     cd ./pipelines/docker/kabanero-utils/;
     pwd; 
     ls -la;
     echo "Running Docker build";     
     docker build -t $IMAGE_NAME:$IMAGE_TAG_NAME .;
     echo "docker build completed successfully.";
     echo "Printing the docker images";
     docker images --digests;
     echo "Finding the digest value.....";
     image_digest_value=$(docker images --no-trunc --quiet $IMAGE_NAME:$IMAGE_TAG_NAME);
     echo "digest value=$image_digest_value";
  else
    echo "The branch is not master so not running anything...";
  fi
