language: bash

sudo: true

env:
- IMAGE_NAME=aadeshpa/kabanero-utils IMAGE_TAG_NAME=latest USER_NAME=aadeshpa

services:
- docker

before_install:
  - sudo apt-get -y install jq
  - sudo apt-get -y install 'libboost1.58-tools-dev'
  
script:
- echo "Running my customized travis yaml file. Hello from Ashish..."
- echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
- echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
     echo "The branch is master and now running the travis build";
     cd ./pipelines/docker/kabanero-utils/;
     pwd; 
     ls -la;
     echo "Running Docker build";     
     docker build -t $IMAGE_NAME:$IMAGE_TAG_NAME .;
     echo "docker build completed successfully.";
     echo "Printing the docker images";
     docker images --digests;
     
     echo "printing all images";
     docker images --digests;
       
     echo "Pushing the image $IMAGE_NAME:$IMAGE_TAG_NAME) to docker.io/$(USER_NAME)/$IMAGE_NAME:$IMAGE_TAG_NAME ";
     echo "DOCKER_USERNAME=$DOCKER_USERNAME";
     echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin;
     docker push $IMAGE_NAME:$IMAGE_TAG_NAME;
     docker images --digests;
     
     #Fetch the digest value
     image_digest_value_withquote=$(docker inspect --format='{{json .RepoDigests}}' $IMAGE_NAME:$IMAGE_TAG_NAME | jq 'values[0]');
     echo "image_digest_value_withquote=$image_digest_value_withquote";
     image_digest_value=$(sed -e 's/^"//' -e 's/"$//' <<<"$image_digest_value_withquote");
     echo "image_digest_value=$image_digest_value";
     
     echo "Trying to replace new digest value everywhere";
     cd ../../;
     pwd;
     ls -la;
     #Find and replace the image reference from 'latest' to pushed image digest value as the  imagetag in all tasks.
     find ./ -type f -name '*.yaml' -exec sed -i 's|kabanero/kabanero-utils:latest|'"$image_digest_value"'|g' {} +;
     echo "Replaced the image digest value";
     echo "**build-push-task-dummy2.yaml*";
     cat incubator/build-push-task-dummy2.yaml;
     echo "***";
     echo "**build-push-task-dummy4.yaml*";
     cat incubator/events/build-push-task-dummy4.yaml;
     echo "***";
  else
    echo "The branch is not master so not running anything...";
  fi
