language: generic

go:
  - 1.12.x

os: linux
dist: bionic


before_install:
  - sudo apt-get -y install jq
  
script:
  - #./ci/publish_utils_image.sh;
  - echo "script section installing buildah"
  - . /etc/os-release;
    sudo sh -c "echo 'deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list";
    wget -nv https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/xUbuntu_18.04/Release.key -O Release.key;
    sudo apt-key add - < Release.key;
    sudo apt-get update -qq;
    sudo apt-get -qq -y install buildah;
  - echo "installing skopeo";
    sudo apt update;
    sudo apt install snapd;
    sudo snap install skopeo --edge --devmode;
    echo "checking skopeo works";
    skopeo;

# note before_deploy will run before each deploy provider
before_deploy:
  - . ./ci/package.sh buildah

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN
  file: ci/assets/*
  file_glob: true
  on:
    tags: true
    repo: $GITHUB_REPO/kabanero-pipelines
