language: generic

go:
  - 1.12.x

os: linux
dist: bionic


before_install:
  - sudo apt-get -y install jq
  
script:
  - echo "in script section."

# note before_deploy will run before each deploy provider
before_deploy:
  - . ./ci/publish_utils_image.sh
  - . ./ci/package.sh

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN
  file: ci/assets/*
  file_glob: true
  on:
    tags: true
    repo: $GITHUB_REPO/kabanero-pipelines
